@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap');
body{
  margin: 0px;
  font-family: "alumni sans "
}

table {
  width:80%
  margin:auto;
  font-family:'Courier New', Courier, monospace;
  border-collapse: collapse;
  border: 5px solid maroon;
}

th {
  background-color: blanchedalmond;
  color: maroon;
  text-align: left;
  font-size: 16pt;
  padding:50px;
  font-family: "alumni sans";
}

tr {
  background-color: aliceblue;
  border-bottom: 3px solid maroon;
}

th,td {
  padding: 5px;
}

tr:hover {
background: maroon;
color: blanchedalmond;
}

#d {
  background-color: chartreuse;
}


header { 
  background: radial-gradient(chocolate, blanchedalmond);
  background-position: left top ;
  background-size: 200% 200%;
  color: darkblue;
  padding: 40px;

}

nav { 
  background-color: darkblue;
  padding: 2px;
  list-style-type: none;
  text-decoration: none;
}

nav ul {
  display: flex;
  padding: 20px;
  margin: auto;
}

nav li { 
  margin-right: 20px;
  list-style-type: none;

}

nav a {
  color: blanchedalmond;
  list-style-type:none;
  text-decoration: none;
  }

  nav a:hover {
    color:chartreuse;
  }

  body {

    background-color: lightgrey;
  }

  th {
    padding: 20px;
    
  }

  footer {
    color: darkblue;
  }

  footer ion-icon {
    width: 50px;
    height: 50px;
  }

  #bike:hover {
    color: rgb(145, 255, 0);
  }

  #bug:hover {
    color: blueviolet;
  }

  #fish:hover {
    color: orangered;
  }