@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Rubik+Marker+Hatch&display=swap');

body{
  margin: 0px;
}

/* header {
  background-color: blueviolet;
  border: 2px solid black;
  padding: 20px;
  color: aqua;

} */
